@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Libre Baskerville', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





html, body {
  height: 100%;
  margin: 0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: black;
  color: white;
  text-align: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
}

.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}

.loader::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}

@keyframes l14 { 
  100% { transform: rotate(1turn); }
}

.loading-text {
  margin-top: 20px;
  font-size: 2rem; /* Adjust as needed */
}

/* Add these animations to your CSS file (e.g., globals.css) */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideInRight {
  animation: slideInRight 1s ease-in-out;
}
.font-PoetsenOne {
  font-family: 'Poetsen One', cursive;
}



/* src/App.css */
img.brightness-125 {
  filter: brightness(1.25);
  transition: filter 0.5s;
}

.transition-transform {
  transition: transform 0.5s;
}

.transition-opacity {
  transition: opacity 0.5s;
}


@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slideLeft 2s ease forwards;
}

